<!DOCTYPE html>

<html>
<head>
    <title>Test Helpers Page</title>
</head>
<body>
    <p>This is spme opening paragraph text.</p>

    @MyHelpers.MakeNote("My test note content.")

    <p>This is some following text.</p>
</body>
</html>
